.mypage-container {
  background: white;
  border-radius: 10px;
  overflow: hidden;
}
.mypage-heading {
  background: #f4f6f4;
  padding: 10px 20px;
}
.header-row {
  padding: 20px 0px 20px 0px;
}
.header-col {
  display: flex;
  gap: 10px;
}
.button-icons {
  display: flex;
  gap: 20px;
}
